ion-slides{
  background-color: gray;
  height:160px;
}
ion-title{
  color:#B049D9;
  background-color:black;
}


ion-avatar {
  height: 150px;
  width: 90%;
  
}

ion-menu-button{
  color:#B049D9;
  background-color:black;
}
ion-avatar span {
  font-size: 15px;
  margin-top:4px;
}

ion-avatar img {
  width: 90px;
  height: 90px;
}

ion-col{
  background-color:black;
}
ion-text{
  color:#49F7E2;
}
ion-icon{
  color:#B049D9;
}

h1{
  padding-left:10px;
  color:pink;
  background-color:black;

}

.square-avatar {
  --border-radius: 0;
}
